@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

*:focus {
	outline: 0;
}

.screen {
	width: 100%;
	height: 100vh;
	min-height: 400px;
	min-width: 615px;
	position: relative;
	overflow: hidden;
}

.container {
	width: 600px;
	height: 50px;
	border-bottom: 6px solid black;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	display: none; /* shows up after window.onload */
}

.container input {
	border: none;
	font-family: 'Open Sans', sans-serif;
  	font-size: 32px;
  	padding: 0 0 0 15px;
	width: 525px;
}

.container .img-wrapper {
	display: inline;
  	height: 100%;
  	vertical-align: middle;
}

.container img {
	width: 30px;
}

.footer {
	font-size: 10px;
	text-align: center;
	width: 100%;
	margin-top: 30px;
}

.footer span {
	line-height: 40px;
}

#message {
	color: white;
	background-color: darkcyan;
  	font-size: 20px;
  	padding: 4px 50px 6px;
  	font-weight: 700;
  	margin-top: 25px;
	display: none;
}

/* TRACKS TABLE */
#tracks {
	font-family: monospace;
	margin-top: 15px;
	text-align: center;
}



/* INSTRUCTIONS PAGE */
#instructionBtn {
	  position: absolute;
	  text-align:center;
	  width: 100%;
	  top: 15%;
	  display: none;
}

#instructionBtn button {
	border: 2px solid forestgreen;
  	background-color: white;
  	color: forestgreen;
  	font-family: 'Open Sans', sans-serif;
  	font-size: 18px;
  	padding: 4px 15px;
}

#instructions { 
	width: 100%;
	min-width: 960px;
	height: auto;
}

.wrapper {
	height: 100%;
	margin: 0 50px;
}

#instructions h1 { 
	font-weight: 700; 
	font-size: 36px;
	margin-top: 60px;
	text-align: center;
}

p { margin: 15px 0; }
code { display: block; margin: 10px 0; }
.inline-code { font-family: monospace; }
li { margin: 8px 0; }